
@import '@src/colors.scss';

color-picker {
    .color-picker {
        display: flex;
        width: 150px;
        height: 150px;
        background: $darklight;
        justify-content: center;
        align-items: center;
    
        canvas {
            position: absolute;
            &:first-child {
                background-color: $background;
            }			
        }
    }
}