
@import '@src/colors.scss';

color-picker {
    display: flex;
    width: 150px;
    height: 150px;
    background: $darklight;
    justify-content: center;
    align-items: center;

    .container{
        width: 150px;
        height: 150px;
        canvas {
            position: absolute;
            width: 150px;
            height: 150px;
            &:first-child {
                background-color: $darklight;
            }			
        }
    }
}
