i {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin: 10px 5px;
    display: flex;
    background-color: red;
}

.edit {
    -webkit-mask-image: url('design-collection/edit.svg');
}

.bucket {
    -webkit-mask-image: url('design-collection/bucket-1.svg');
}


.eyedropper {
    -webkit-mask-image: url('design-collection/eyedropper.svg');
}

.crop {
    -webkit-mask-image: url('design-collection/crop.svg');
}