
@import '@src/colors.scss';

*,*:before,*:after {
box-sizing: border-box;
}

*:focus {
    outline: none;
}

@import '@src/scrollbar.scss';

html,body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}