@import '@src/colors.scss';

$scrollbarsize: .8em;

::-webkit-scrollbar-corner,
::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background: $greylight;
}

::-webkit-scrollbar {
    width: $scrollbarsize;
    height: $scrollbarsize;
}

::-webkit-scrollbar-thumb {
	background: $grey;
	border-radius: $scrollbarsize;
	
	&:hover {
		background: $darklight;
	}
}