@import '@src/colors.scss';


$icon_size: 16px;

layer-item {
  &,
  > a,
  > editable-label {
    width: inherit;
    display: flex;  
  }

  > a {
    display: flex;
    text-decoration: none;
    color: $white;
    padding: $icon_size 20px $icon_size 10px;

    &:hover {
      background-color: $hover;
      transition: 300ms all;
    }
  }
}
