.wrapper
  header.header Header
  section.section
    aside.aside.aside-1
      div
        tool-bar
    article.main
      draw-zone
    aside.aside.aside-2
      div
        color-picker
  footer.footer Footer