.wrapper
  header.header Header
  section.section
    aside.aside.aside-1
      div
        tool-bar
    article.main
      draw-zone
    aside.aside.aside-2
      div
        color-picker
        div(style="width: 100px")
            input(type="text" id="rgb")
            input(type="text" id="hsl")
            input(type="text" id="hex")
            input(type="color" id="color")
  footer.footer Footer