.wrapper
  header.header Header
  section.section
    aside.aside.left
      div
        tool-bar
    div.main
      draw-zone
    aside.aside.right
      div#right-panel
        color-picker
        span.bar i
        layer-manager
        span.bar i
  footer.footer Footer