.wrapper
  header.header Header
  section.section
    aside.aside.aside-1
      div
        tool-bar
    article.main
      draw-zone
    aside.aside.aside-2
      div
        color-picker
        div#debugcolor
            textarea(id="rgb")
            textarea(id="hsl")
            textarea(id="hex")
            input(type="color" id="color")
  footer.footer Footer