- var features = {
-        'edit':'Crayon',
-        'crop':'Recadrer',
-        'eyedropper':'Pipette',
-        'bucket':'Pot de peinture'
-    };

div
    each label, name in features
        a(href='#' title=label)
            i(class=name)