@import '@src/colors.scss';

$icon_size: 16px;

layer-manager {

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;

  background: white;

  > * {
    display: flex;
  }

  .container {
    overflow: hidden;
    width: inherit;
    flex-grow: 1;

    .scrollcontainer {
      display: flex;
      flex: 1;
      width: inherit;
      flex-direction: column;
      overflow: auto;

      .menu {
        display: table;
        width: inherit;
        padding: 0;
        margin: 0;
        list-style: none;
        clear: both;
        font-size: 14px;

        layer-item.over {
          border-bottom: 1px solid red;
          margin-bottom: 50px;

          & + layer-item {
            border-top: 1px solid red;
          }
        }
      }
    }
  }
}
