nav i
.container
  .scrollcontainer
    .menu
      layer-group List 1 avec un nom super long, voire même plus long
        layer-item Item 1-1 avec un nom super long, voire même plus long, beaucoup plus long
        layer-item Item 1-2
        layer-item Item 1-3
        layer-item Item 1-4
        layer-item Item 1-5
        layer-item Item 1-6
      layer-group List 2
        layer-item Item 2-1 
        layer-item Item 2-2 
        layer-item Item 2-3 
      layer-group List 3
        layer-item Item 3-1 
        layer-item Item 3-2 
        layer-item Item 3-2 
      layer-group.active List 4
        layer-item Item 4-1 
        layer-item Item 4-2 
        layer-group List 4-1
          layer-item Item 4-1-1
          layer-item Item 4-1-2
        layer-group List 4-2
          layer-item  Item 4-2-1
          layer-item Item 4-2-2
nav i
