nav i
.container
  .scrollcontainer
    .menu
      layer-group.active List 1
        layer-item Item 1-1
        layer-item Item 1-2
        layer-item Item 1-3
        layer-group.active List 2
          layer-item Item 2-1
          layer-item Item 2-2
          layer-item Item 2-3
nav i
